* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 180px;
}
.contact{
    padding-top: 50px;
}

.a1 {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}


.link3 {
    margin-top: 10px;
    text-decoration: none;
    color: #ff583a;
    border: solid 2px;
    border-radius: 3px;
    padding: 10px;
    margin-right: 10px;
    transition: 0.4s;
}

.link3:hover {
    background-color: #ff583a;
    color: white;
    outline-offset: 4px;
    outline-color: white;
}

.link6 {
    text-decoration: none;
    color: black;
}
.map{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 130px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 60px;
}
.divS{
    display: flex;
    gap: 5px;
    padding-top: 10px;
}
.map a{
    text-decoration: none;
    color: black;
}
.map h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.ssilka a{
    padding-right: 15px;
}
.form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.woman{
    display: flex;
justify-content: space-between;
padding-left: 200px;
padding-right: 170px;
padding-bottom: 100px;
}
.names{
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input{
    width: 260px;
    height: 40px;
}
.woman div h1{
    padding-bottom: 15px;
}
.button{
    font-size: 15px;
    padding-left: 35px;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    border-color: #ff583a;
    background-color: #ff583a;
}
.check{
    display: flex;
    align-items: center;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.check p{
    padding-left: 10px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #1E212C;
    color: #FFF;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.column1 p {
    font-size: 9px;
    width: 240px;
}

.column1 a {
    margin-right: 20px;
}

.column2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.column2 a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    
}

.column3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.column3 a {
    text-decoration: none;
    color: white;
}

.column4 {
    text-decoration: none;
    color: white;
}

.column4 a {
    text-decoration: none;
    color: white;
}

.column4 h3 {
    padding-bottom: 5px;
}

.column4 div {
    padding-top: 8px;
}

.column5 input {
    width: 200px;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #3b3f4b;
    padding-left: 10px;
}

.column5 p {
    font-size: 10px;
}
.grayDiv{
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #3b3f4b;
    color: white;
}
.grayDiv a{
text-decoration: none;
color: white;

}